{% extends "coplate_base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    <a href="{% url 'index' %}">
      <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
    </a>
    <nav>
      <ul class="navbar">
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">내 프로필</a></li>
            <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">로그인</a></li>
            <li><a href="{% url 'account_signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block menu %}
<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3"
        >
  <a class="navbar-brand" href="#">OQC Part</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#item-1">Instrument</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-1-1">Starlet</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Nimbus</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">CFX96</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Aios</a>
    </nav>
    <a class="nav-link" href="#item-2">Setting</a>
    <a class="nav-link" href="#item-3">계측기</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-3-1">계측기1</a>
      <a class="nav-link ms-3 my-1" href="#item-3-2">계측기2</a>
    </nav>
  </nav>
</nav>
{% endblock %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div></div>
    <div>COPLATE</div>
  </div>
</footer>
{% endblock footer %}
